body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100vw;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    font-family: arial;
    color: rgb(54, 53, 53);
   
}
.prophoto{
    border-radius: 50px;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
}
.personal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    width: 28.2vw;
}
.nav-links a{
    text-decoration: none;
    font-weight: 760;
    color: rgb(255, 255, 255);
    font-size: 14.5px;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px 30px;
    border-radius: 50px;
    outline: 2px solid rgba(196, 0, 0, 0.8);
}

.personaldata{
  color: #fff;
  background: url(./images/pngegg.png),radial-gradient(circle,  rgb(255, 0, 0),rgb(165, 0, 0), rgb(255, 0, 0), rgb(151, 0, 0), rgb(165, 0, 0));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
  display: flex;
}
.namelogo2{
    position: relative;
    top: 4.5vh;
    left: 1.5vh;
}
.soclinks{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.soclinks img{
    width: 1.5vw;
    height: 1.5vw;
    border: 1.5px solid white;
    padding: 15px;
}
.personinfo{
    margin-left: 18vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 350px;
}
.personinfo h1{
    font-size: 3.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.personinfo p{
    font-size: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.proj{
    background: #fff;
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 18px ;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #262525;
    margin-top: 40px;
}
marquee{
    padding: 4px 10px;
    border: 2.5px solid rgb(255, 255, 255);
    font-weight: bold;
    font-size: medium;
    color: #fff;
    width: 5px;
    height: 35px;
    border-radius: 20px;
    position: relative;
    bottom: 70px;
    left: 49%;
}
.main{
    background-color: rgb(255, 249, 249);
    padding-top: 120px;
    padding-bottom: 200px;
}
.head2{
    text-align: center;
}
.head2 h1{
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.blueline{
    width: 32px;
    height: 5px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 10px;
    border: none;
}
.head2 p{
    color: rgb(124, 118, 118);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw
}
.skills{
    display: flex;
    margin-left: 33vh;
    margin-right: 35vh;
    max-height: 30vh ;
    margin-top: 12vh;
    
}
.skilinfo{
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    flex:1
}

.con{
    flex: 1;
}
.con h1{
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
.con p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(142, 141, 141);
}
.con button{
    background:linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.8)), url(./images/1000_F_1250980168_vF0PpDDJ0SouOJtzjapgmMx0JjKGL8ex.jpg);
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 18px ;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 40px;
}
.skilist{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
}
.skilinfo h2{
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}
.skilist p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(91, 91, 91);
    background-color: rgb(236, 232, 232);
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
}
.projects{
    background-color: rgb(255, 255, 255);
    padding-top: 120px;
    padding-bottom: 125px;
}
.projspace{
    height: 45w;
    width: 45vw;
}
.proj1p{
   position: relative;
   right: 30vw;
   top: 5vh;
}
.proj2p{
    position: relative;
    right: 30vw;
    top: 6.2vh;
 }
 .proj3p{
    position: relative;
    right: 30vw;
    top: 6.2vh;
 }
.projdis{
    display: flex;
    margin-left: 23vh;
    margin-right: 25vh;
    margin-top: 15vh;
}
.projdisc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 3vw;
    margin-bottom: 10vh;
}

.projdisc h1{
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  }
.disct{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 15px;
    color: rgb(142, 141, 141);
}
.btncase{
    background:linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0.8)), url(./images/1000_F_1250980168_vF0PpDDJ0SouOJtzjapgmMx0JjKGL8ex.jpg);
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 15px ;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 30px;
}
.contactform{
    color: #fff;
    background: linear-gradient(to right, rgba(255, 43, 43, 0.8), rgba(161, 4, 4, 0.8)), url(./images/1000_F_1250980168_vF0PpDDJ0SouOJtzjapgmMx0JjKGL8ex.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    padding-top: 125px;
  }
  .contshead{
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 10vh;
  }

  
.whiteline{
    width: 32px;
    height: 5px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
}
fieldset{
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin-top: 100px;
    margin-left: 28%;
    margin-right: 26%;
    background-color: #fff;
    border: none;
    border-radius: 7px;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 15px;
    color: rgb(97, 97, 97);
    padding: 40px 35px;
}
.min1{
    height: 60px;
    background-color: #f7f0f0;
    border: none;
    margin-bottom: 40px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    color:  #000000d2;
}
.min2{
    background-color: #f7f0f0;
    width: 95%;
    border: none;
    margin-bottom: 40px;
    padding-bottom: 220px;
    padding-top: 25px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    color:  #000000d2;
    
}
.btnsub{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/1000_F_1250980168_vF0PpDDJ0SouOJtzjapgmMx0JjKGL8ex.jpg);
    height: 60px;
    width: 200px;
    border: none;
    border-radius: 5px;
    font-size: 17px ;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-top: 30px;
    margin-left: 72%;
}
.footer{
    background-color: #000000;
    height: 41vh;
    border-top: 1px solid white;
    color: #fff;
}
.detailsspec{
    display: flex;
    margin-left: 17vw;
    margin-right: 17vw ;
    margin-top: 7vh;
    padding-bottom: 9vh;
    border-bottom: 1px solid rgb(48, 46, 46);
}
.names{
    flex: 1;
    margin-right: 20vh;
    
}
.names h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.lins h1{
    margin-left: 1.3vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.lins img{
    height: 3vh;
    width: 3vh;
    padding-left: 10px;
}
.par{
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
}